<footer class="footer">
  <div class="footer__inner">

    <div class="footer__links links">
      <ul class="links__list list">
        <li class="list__item item">
          <a class="item__link item__feed" href="/feed.xml"><span class="ion-social-rss"></span></a>
        </li>
        <li class="list__item item">
          <a class="item__link item__github" href="https://github.com/sasaplus1-website/www.sasaplus1.com"><span class="ion-social-github"></span></a>
        </li>
      </ul>
    </div>

    <div class="footer__copyright copyright">
      <small class="copyright__text">
        <a class="copyright__link" href="/">{{ site.name }}</a> &copy; 2004 sasa+1
      </small>
    </div>

  </div>
</footer>
